extends layout

include mixins/_wrap

block content

  .wrap-content
    .row.wrap-row
      .col
        +wrap()
      .col
        +wrap()
      .col
        +wrap()

    .row.wrap-row
      .col
        +wrap()
      .col
        +wrap()
      .col
        +wrap()