extends layout

include mixins/_shareButton

block content
  .wishlist
    .santa-logo
      img(src="/images/santa-claus.png")

    .card.wishlist__card
      if user
        +shareButton()

      .header
        h2 Dear Santa,
        p All I want for Christmas is:
      
        .card__body
          if wishlist.length
            each item in wishlist
              li= item
                i.delete(data-value=`${item}`).fas.fa-times
          else
            if user
              p.warning Your wishlist is empty!
            else
              p.warning
                | You need to 
                a.login-btn(href="#") log in
                |  first to add items

      input.add-item.form-control(name="add-item" type="text" placeholder="Add item..." disabled=!user)
