doctype html
html
  head
    title= `Dear Santa - ${title}`
    link(rel='stylesheet', href="https://unpkg.com/chota")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav.nav
      .nav-left
        a.brand
          img(src="/images/santa-hat.png" href="/")
      
      .nav-right
        a.active(href="/wishlist") My Wishlist
        a.active(href="/shopping-list") Shopping List
        a.active(href="/gift-guides") Gift Guide
        a.button.login-btn(href="#") Join

    .content
      h1= description
      block content

    include mixins/_loginForm
    include mixins/_snowFlakes

    +snowFlakes()
    +loginForm()

    block scripts
      script(src="/dist/App.bundle.js")
