doctype html
html
  head
    title= `Dear Santa - ${title}`
    link(rel='stylesheet', href="https://unpkg.com/chota")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav.nav
      .nav-left
        a.brand
          img(src="/images/santa-hat.png" href="/")
      
      .nav-center
        a.active(href="/wishlist") Wishlist
        a.active(href="/shopping-list") Shopping List
        a.active(href="/gift-guides") Gift Guides

      .nav-right
        if user
          a(href="/logout") Loggedin
        else
          a.button.login-btn(href="#") Join

    .content
      block content

    include mixins/_loginForm
    include mixins/_snowFlakes

    +snowFlakes()
    +loginForm()

    block scripts
      script(src="/dist/App.bundle.js")
