doctype html
html
  head
    title= `Dear Santa - ${title}`
    link(rel='stylesheet', href="https://unpkg.com/chota")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
  body

    nav.nav
      .nav-left
        a.brand
          img(src="/images/santa-hat.png" href="/")
      
      .nav-center
        a.active(href="/wishlist") Wishlist
        a.active(href="/shopping-list") Shopping List
        a.active(href="/gift-guides") Gift Guides

      .nav-right
        if user
          a(href="/logout") Loggedin
        else
          a.button.primary.login-btn(href="#") Join

    .content
      block content

    include mixins/_loginForm
    include mixins/_snowFlakes

    +snowFlakes()
    +loginForm()

    block scripts
      script(src="/dist/App.bundle.js")
