doctype html
html
  head
    title= `Dear Santa - ${title}`
    link(rel='stylesheet', href="https://unpkg.com/chota")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
    link(rel="shortcut icon" type="image/png" href="/images/santa-note.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    include mixins/_loginForm

    nav.nav
      .nav-left
        a.brand(href="/")
          img(src="/images/santa-note.png")
      
      .nav-center
        a.active(href="/wishlist") Wishlist
        a.active(href="/gift-guides") Gift Guides

      .nav-right
        if user
          a(href="/logout")
            span.img-label Logout
            img#profile-img(src=`${user.avatar}`)
        else
          .is-vertical-align
            a.button.primary.login-btn(href="#") Sign in
            +loginForm()

    .content
      block content

    include mixins/_snowFlakes
    include mixins/_by

    +snowFlakes()
    +by()

    block scripts
      script(src="/dist/App.bundle.js")
