mixin by()    
  a.by(style="position: fixed; bottom: 0px; right: 0px;" target="_blank" href="https://github.com/ksketo/")
    img(src="https://pbs.twimg.com/profile_images/508566520696680448/wuztp-zS_bigger.jpeg")
    p by ksketo