mixin loginForm()
  .loginBox(class="" style="display: none;")
    .socialMedia
      a(href="/auth/twitter")
        i.fab.fa-twitter
      a(href="#")
        i.fab.fa-facebook-square
      a(href="#")
        i.fab.fa-google-plus