mixin loginForm()
  .social-form
    form
      h1 Social Form
      input(placeholder="Username" type="text")
      input(placeholder="Password" type="password")
      button.btn Log in
      h6 Oh Social
      .social
        button.btn.tw Twitter
        button.btn.google.fb Google