mixin wrap()
  section.gift
    a.giftcard(href="#" target="_blank") Stay Sweet

    section.gift_top
      .ribbon_right
      .ribbon_left
      .gift_box_top
    .gift_box_bottom_top
    .gift_box_bottom
