mixin wrap(guide)
  section.gift
    a.giftcard(href=`${guide.url}` target="_blank")= guide.label

    section.gift_top
      .ribbon_right
      .ribbon_left
      .gift_box_top
    .gift_box_bottom_top
    .gift_box_bottom
